.chicken-design-menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 30px;
    list-style: none;
    border-bottom: 1px solid #dee2e6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  .menu-vertical {
    flex-direction: column;
    border-bottom: 0px;
    margin: 10px 20px;
    border-right: 1px solid #dee2e6;
  }
  .chicken-design-menu > .menu-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  .chicken-design-menu > .menu-item.is-active, .chicken-design-menu > .menu-item:hover {
    color: #0d6efd;
    border-bottom: 2px solid #0d6efd;
  }
  .chicken-design-menu > .menu-item.is-disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  }